.main-background-color {
  background-color: #f8f9fa;
}

.velog-background-color {
  background-color: #20c997;
}

.flex {
  display: flex;
}

.flex-row{
flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}
