.wrap{
    margin-top: 2rem;
    position: relative;
}
.margin1{
    margin: 1rem;
}

.wrapcard{
    /* animation-duration: 1s;
    animation-name:hoverout */
    position: relative;
    top: 0%;
    transition: top 1s;
}
.wrapcard:hover{
 top: -10px
}